<!DOCTYPE html>
<html>
<head>
<title>Demo Files Upload Application</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

# Note: this js script was copied from https://github.com/kirsle/flask-multi-upload:
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

<body>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

    <strong>Files:</strong><br>
    Select files OR drag them into the box:
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p>

    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Upload Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload Files" id="upload-button">
</form>


</body>
</html>
